{{ if .Site.Params.cta.enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}

    <div class="container">
		<div class="row">
			
				
                
				
			</div>
		</div>
	</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}



{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ "<!-- Contact Details -->" | safeHTML }}
            
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-md-12 ">
                <form  netlify id="contact-form" role="form" data-netlify-recaptcha="true" action="/public/success.html" method="POST">
                    <div class="form-group">
                        <input type="text" placeholder="Name" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="Firma" placeholder="Firmenname" class="form-control" name="firm" id="firm">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Ihre Email-Adresse" class="form-control" name="email" id="email">
                    </div>

                   

                    <div class="form-group">
                        <input type="text" placeholder="Betreff" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Nachricht" class="form-control" name="message" id="message"></textarea>
                    </div>
 
                    
                    <div data-netlify-recaptcha="true" >
                    </div>

                    

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit"  class="button primary" value="Senden">
                    </div>
                </form>
            </div>
        </div>


